<!DOCTYPE html>
<html>
  <head>
    <title>Gif of the Week</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= image_tag('BB_Logo.jpg', width: 200) %>
    <%= yield %>

    <div class='credits'>
      Powered by GifBot - BubHack March 2017
      <br/>
      Lisa Plesko & Jon Kolnik
    </div>
  </body>
</html>
